
input {
    @include transition(.3s);
    font-size: 16px;
    border: 1px solid rgba(#707070, .3);

    &::placeholder {
        font-size: 16px;
    }

    &:focus {
        border-color: $theme-color;
    }
}

.subscribe-form-2 {
    max-width: 570px;
    position: relative;

    label {
        display: block;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        padding: 30px 25px;
    }

    button {
        padding: 20px 38px;
        right: 10px;
        bottom: 10px;
        position: absolute;
        border: none;
        color: $white;

        @media #{$xs} {
            position: relative;
            margin-left: 10px;
            margin-top: 15px;
            top: 0px;
        }

        @media #{$sm} {
            position: absolute;
            top: auto;
            margin-top: 0;
            padding: 20px 25px;
        }
    }
}