
    .header {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        z-index: 2;

        .social-links {
            text-align: right;

            @media #{$xs} {
                display: none;
            }

            ul {
                li {
                    display: inline-block;

                    &:first-child {
                        a {
                            margin-left: 0;
                        }
                    }

                    a {
                        font-size: 20px;
                        font-weight: 500;
                        font-family: $font-2;
                        margin-left: 40px;
                    }
                }
            }
        }
    }