// Font Family
$font-1: 'Roboto', sans-serif;
$font-2: 'Poppins', sans-serif;
$font-3: 'Open Sans', sans-serif;
$font-4: 'Montserrat', sans-serif;
$font-5: 'Croissant One', sans-serif;
$font-6: 'Fruktur', sans-serif;
$font-7: 'Alfa Slab One', sans-serif;
$font-8: 'Space Mono', sans-serif;
$font-9: 'PT Serif', sans-serif;
$font-10: 'Anonymous Pro', sans-serif;
$font-11: 'Black Ops One', sans-serif;
$font-12: 'Anton', sans-serif;
$font-13: 'Halant', sans-serif;
$font-14: 'Playfair Display', sans-serif;
$font-15: 'Rubik', sans-serif;
$font-16: 'Roboto Slab', sans-serif;
$font-17: 'Lora', sans-serif;
$font-18: 'UPBOLTERS-New-Regular';
$font-19: 'Bungasai';
$font-20: 'Arimo', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray: #F3FDFF;
$body-bg: #F4F7FC;
$yellow: #FFC728;
$yellow-darken: #F0B914;
$blue: #2F80ED;
$blue-darken: #1A73E8;
$red: #F92750;
$red-lighten: #F81C4A;
$theme-color: #2F80ED;
$border-color: #ddd;


$color-1: #3E2945;
$color-2: #10182F;
$color-3: #29323F;
$color-4: #031B3B;
$color-5: #CF6080;
$color-6: #1A2434;
$color-7: #FCF1B3;
$color-8: #5879C0;
$color-9: #2B0549;
$color-10: #FC7575;
$color-11: #FFCF1F;
$color-12: #C5D0E3;
$color-13: #202263;
$color-14: #FF7D12;
$color-15: #172A95;
$color-16: #0D0B0A;
$color-17: #343D48;
$color-18: #0F2137;
$color-19: #7659FF;
$color-20: #5A44FF;
$color-21: #262A25;
$color-22: #091E3F;
$color-23: #24D2AA;
$color-24: #0E0E0E;
$color-25: #0A0A0A;
$color-26: #1D2150;



// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 480px) and (max-width: 767px)';


