// demo-04 css

@import 'partials';

main {

    // header 
    .header {

        &.header-04 {
            position: unset;
            padding: 50px 0;

            // social-links 
            .social-links {

                ul {
                    li {
                        a {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            border: 1px solid $color-16;
                            color: $color-16;
                            background: transparent;
                            margin-left: 20px;
                            font-size: 18px;

                            &:hover {
                                background: $color-16;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-wrapper {

        &.demo-04 {
            height: auto;

            // hero-area 
            .hero-area {
                padding: 100px 0 150px;

                @media #{$xs} {
                    padding: 50px 0;
                }

                // content-wrapper 
                .content-wrapper {

                    h1 {
                        font-family: $font-4;
                        font-size: 80px;
                        font-weight: 700;
                        color: $color-21;

                        @media #{$xs} {
                            font-size: 45px;
                        }
                        @media #{$sm} {
                            font-size: 55px;
                        }
                    }

                    p {
                        font-family: $font-10;
                        font-size: 20px;
                        line-height: 40px;
                        color: $color-17;
                        margin-bottom: 65px;
                    }

                    // subscribe-form 
                    .subscribe-form {

                        input {
                            border-radius: 50px;
                            background: $white;
                            border-color: $white;
                            color: $color-17;
                            font-family: $font-10;
                            font-size: 20px;

                            &::placeholder {
                                color: $color-17;
                                font-size: 20px;
                            }

                            &:focus {
                                border-color: $color-21;
                            }
                        }

                        button {
                            border-radius: 50px;
                            background: $color-21;
                            padding: 20px 26px;
                            font-family: $font-10;
                            font-size: 20px;

                            @media #{$xs} {
                                position: relative;
                                margin-top: 15px;
                                top: 0;
                                padding: 20px 40px;
                            }
                        }
                    }
                }

                // img-wrapper 
                .img-wrapper {
                    margin-left: 40px;
                    margin-right: 0;
                    text-align: right;
                }
            }

            // service-area 
            .service-area {
                padding-bottom: 150px;

                @media #{$md} {
                    padding-bottom: 100px;
                }
                @media #{$xs} {
                    padding-bottom: 70px;
                }

                // service-img 
                .service-img {

                    @media #{$md} {
                        margin-bottom: 30px;
                    }
                    @media #{$xs} {
                        margin-bottom: 30px;
                    }
                    
                    img {

                        @media #{$md} {
                            width: 100%;
                        }
                        @media #{$xs} {
                            width: 100%;
                        }
                    }
                }

                // service-list-wrapper 
                .service-list-wrapper {
                    background: $color-25;
                    padding: 50px;
                    margin-left: -100px;
                    margin-bottom: 50px;

                    @media #{$md} {
                        margin-left: 0px;
                    }
                    @media #{$xs} {
                        margin-left: 0px;
                    }

                    h3 {
                        font-family: $font-4;
                        font-size: 30px;
                        font-weight: 500;
                        text-decoration: underline;
                        color: $white;
                        margin-bottom: 15px;
                    }

                    // service-list 
                    .service-list {
                        display: flex;
                        justify-content: space-between;

                        @media #{$xs} {
                            flex-direction: column;
                        }

                        ul {
                            li {

                                a {
                                    font-size: 20px;
                                    line-height: 40px;
                                    color: rgba($white, .7);
                                    font-family: $font-10;

                                    &:hover {
                                        color: $white;
                                    }

                                    @media #{$xs} {
                                        font-size: 16px;
                                        line-height: 35px;
                                    }
                                    @media #{$sm} {
                                        font-size: 18px;
                                        line-height: 38px;
                                    }
                                }
                            }
                        }
                    }
                }

                // copyright 
                .copyright {
                    p {
                        font-family: $font-10;
                        font-size: 20px;
                        font-weight: 700;
                        color: $color-25;

                        @media #{$xs} {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}